@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .digital-learning {
    padding: 8rem 4rem;

    .container {
      text-align: start;

      .title {
        font-size: 2.5rem;
      }

      .main-content-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        .main-content {
          flex: 1.5;

          &__title {
            font-size: 1.8rem;
          }

          &__description {
            text-align: justify;
          }

          &__points {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
          }

          &__point {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            list-style-position: inside;

            &-link {
              text-decoration: none;
              color: $dark-text;
              transition: color 0.3s ease;

              &:hover {
                color: $primary-yellow;
              }
            }
          }
        }

        .side-poster {
          flex: 1;
          // max-height: 350px;
          height: fit-content;


          @media (max-width: 768px) {
            display: block;
            margin-bottom: 10rem;
          }

          img {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            object-fit: cover;
            vertical-align: middle;
          }

        }


      }

      .main-poster {
        width: 100%;
        height: auto;
        margin-top: 3rem;

        @media (max-width: 768px) {
          margin: 2rem 0;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .text {
        color: $light-text;
        line-height: 1.3;
        font-size: 1.4rem;
      }

    }
  }
}