@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .time-table {
    padding: 8rem 4rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      .side-card {
        flex: 1;
        background: $light-bg;
        text-align: center;
        padding: 3rem;
        height: fit-content;
        margin-top: 3rem;

        &__title {
          font-size: 2.5rem;
          font-weight: 600;
          position: relative;
          line-height: 1.3;
          text-align: center;

          &::after {
            position: absolute;
            content: "";
            background-color: $primary-yellow;
            height: 8px;
            width: 50px;
            border-radius: 5px;
            top: 100%;
            left: 0;
            right: 0;
            margin-inline: auto;
            display: flex;
            justify-content: center;
            margin-top: .5rem 0;
          }
        }

        &__navigation {
          text-decoration: none;
          color: $primary-yellow;
          font-size: 2rem;
          font-weight: 600;
          display: inline-block;
          margin-top: 2rem;
        }
      }

      .main-content {
        flex: 2.5;
        font-family: "jost";

        &__title {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        &__scenery {
          width: 100%;
          margin: 2rem 0;

          img {
            width: 100%;
            height: auto;
            height: 100%;
            object-fit: cover;

          }
        }

        &__footer {
          &-title {
            font-weight: 600;
            font-size: 2rem;
            margin-top: 1.5rem;
          }

          &-item {
            list-style-type: none;
            list-style-position: inside;
          }
        }
      }

      .text {
        color: $light-text;
        line-height: 1.3;
        font-size: 1.4rem;
      }
    }
  }
}