@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .plan {
    padding: 8rem 4rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      .left {
        flex: 1;

        .side-card {
          background: $light-bg;
          text-align: center;
          padding: 3rem;
          height: fit-content;
          margin-top: 3rem;

          &__title {
            font-size: 2.3rem;
            font-weight: 600;
            position: relative;
            line-height: 1.3;
            text-align: center;

            &::after {
              position: absolute;
              content: "";
              background-color: $primary-yellow;
              height: 8px;
              width: 50px;
              border-radius: 5px;
              top: 100%;
              left: 0;
              right: 0;
              margin-inline: auto;
              display: flex;
              justify-content: center;
              margin-top: .5rem 0;
            }
          }

          &__navigation {
            text-decoration: none;
            color: $primary-yellow;
            font-size: 2rem;
            font-weight: 600;
            display: inline-block;
            margin-top: 2rem;
            word-break: break-all; // or word-wrap: break-word;
          }
        }
      }

      .main-content {
        flex: 2;
        font-family: "jost";

        &__title {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        .items {
          display: flex;
          flex-direction: column;
          gap: .3rem;
          margin: 2rem 0;

          .item {
            list-style-type: none;
            list-style-position: inside;
          }
        }
      }

      .text {
        color: $light-text;
        line-height: 1.3;
        font-size: 1.4rem;
      }
    }
  }
}