@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .scholarships {
    padding: 8rem 4rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      text-align: start;

      .navigation {
        height: fit-content;
        background-color: #f3f4f8;
        flex: 1;
        box-shadow: none;
        border-radius: 0px;
        border: none;

        &-container {
          margin: 2rem 1rem;

          .navigation__list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 100%;

            .navigation__item {
              border: 1px solid #e7e7e7;
              padding: 1rem 1rem;
              background-color: white;
              list-style-type: none;
              height: 50px;
              transition: all 0.3s ease;
              position: relative;
              border-left: 3px solid transparent;

              &:hover {
                border-left: 3px solid black;
                background-color: $primary-yellow;

                .go {
                  color: white !important;
                  font-weight: bold;

                  &::after {

                    background-color: #125875;
                    color: white;

                    &.active {
                      background: $sapphire;
                    }
                  }
                }
              }

              .go {
                font-weight: 600;
                color: black;
                text-decoration: none;
                font-size: 1.3rem;
                display: flex;
                align-items: center;

                &::after {
                  content: "\f054";
                  font-family: "Font Awesome 7 Free";
                  font-weight: 900;
                  position: absolute;
                  right: 0;
                  top: 0;
                  height: 100%;
                  font-size: 18px;
                  font-weight: bold;
                  color: #222;
                  transition: all 300ms ease;
                  background: #E8EAEC;
                  display: flex;
                  align-items: center;
                  padding: 20px;
                }
              }
            }

            .navigation__item:nth-child(3) {
              background: $primary-yellow;
              border-left: 3px solid black;


              .go {
                &::after {
                  background-color: $sapphire;
                  color: white;

                  &.active {
                    background: $sapphire;
                  }
                }
              }
            }
          }
        }
      }

      .main-content {
        flex: 2;
        font-family: "jost";

        &__title {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        &__subtitle {
          font-size: 2rem;
          font-weight: 600;
          margin: 3rem 0;
        }

        &__scenery {
          width: 100%;
          margin: 2rem 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__points {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          margin-bottom: 2rem;
        }

        &__point {
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          list-style-position: inside;
        }

        &__keytitle {
          font-size: 2rem;
          margin-bottom: 3rem;
        }
      }

      .text {
        color: $light-text;
        line-height: 1.3;
        font-size: 1.4rem;
      }
    }
  }
}