@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .transportation {
    padding: 8rem 4rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      text-align: start;

      .left {
        flex: 1;

        .navigation {
          height: fit-content;
          box-shadow: none;
          border-radius: 0px;
          border: none;
          background: $light-bg;
          padding: .1rem 0;
          position: static !important;

          &-container {
            margin: 2rem 1rem;

            .navigation__list {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              max-width: 100%;

              .navigation__item {
                border: 1px solid #e7e7e7;
                padding: 1rem 1rem;
                list-style-type: none;
                height: 50px;
                transition: all 0.3s ease;
                position: relative;
                border-left: 3px solid transparent;

                border-left: 3px solid black;
                background-color: $primary-yellow;

                .go {
                  color: white !important;
                  font-weight: bold;

                  &::after {

                    background-color: #125875;
                    color: white;

                    &.active {
                      background: $sapphire;
                    }
                  }
                }
              }

              .go {
                font-weight: 600;
                color: black;
                text-decoration: none;
                font-size: 1.3rem;
                display: flex;
                align-items: center;

                &::after {
                  content: "\f054";
                  font-family: "Font Awesome 7 Free";
                  font-weight: 900;
                  position: absolute;
                  right: 0;
                  top: 0;
                  height: 100%;
                  font-size: 18px;
                  font-weight: bold;
                  color: #222;
                  transition: all 300ms ease;
                  background: #E8EAEC;
                  display: flex;
                  align-items: center;
                  padding: 20px;
                }
              }
            }
          }
        }

        .transport {
          height: fit-content;
          box-shadow: none;
          border-radius: 0px;
          border: none;
          background: $light-bg;
          padding: .1rem 0;
          margin-top: 2rem;

          &-container {
            margin: 2rem 1rem;

            .caption {
              font-size: 1.8rem;
              margin-bottom: 1rem;
              position: relative;

              &::after {
                position: absolute;
                content: "";
                background: $primary-yellow;
                top: 130%;
                left: 0;
                height: 1px;
                width: 100%;

              }
            }


            .transport__list {
              display: flex;
              flex-direction: column;
              gap: 1rem;
              max-width: 100%;
              margin-top: 3.5rem;

              .transport__item {
                border: 1px solid #e7e7e7;
                padding: 1rem 1rem;
                list-style-type: none;
                height: 50px;
                transition: all 0.3s ease;
                position: relative;
                background-color: white;



                .go {
                  color: black;
                  font-weight: bold;
                  font-size: 1.8rem;
                  font-weight: 600;
                  text-decoration: none;
                  font-size: 1.3rem;
                  display: flex;
                  align-items: center;
                  padding-left: 80px;

                  &::before {
                    background-color: red;
                    color: white;
                    content: "\f1c1";
                    font-family: "Font Awesome 7 Free";
                    font-weight: 900;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    font-size: 18px;
                    font-weight: bold;
                    transition: all 300ms ease;
                    display: flex;
                    align-items: center;
                    padding: 20px;

                  }
                }

                &:hover {
                  background: #1a1e5d;
                  color: white !important;
                }
              }

            }
          }
        }

      }
    }

    .main-content {
      flex: 2.2;
      font-family: "jost";

      &__title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }

      .items {
        margin-top: 1rem 0;

        .item {
          list-style-type: none;
        }
      }

      &__subtitle {
        font-size: 2.5rem;
        margin-top: 1rem;
      }

      &-description {
        line-height: 1.3;
      }

    }

    .text {
      color: $light-text;
      line-height: 1.3;
      font-size: 1.4rem;
    }
  }
}