@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .downloads {
    padding: 5rem 3rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      .navigation {
        height: fit-content;
        background-color: #f3f4f8;
        flex: 1;
        box-shadow: none;
        border-radius: 0px;
        border: none;

        &-container {
          margin: 2rem 1rem;

          .navigation__list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 100%;

            .navigation__item {
              border: 1px solid #e7e7e7;
              padding: 1rem 1rem;
              background-color: white;
              list-style-type: none;
              height: 50px;
              transition: all 0.3s ease;
              position: relative;
              border-left: 3px solid transparent;

              &:hover {
                border-left: 3px solid black;
                background-color: $primary-yellow;

                .go {
                  color: white !important;

                  &::after {

                    background-color: #125875;
                    color: white;

                    &.active {
                      background: $sapphire;
                    }
                  }
                }
              }

              .go {
                font-weight: 500;
                color: black;
                text-decoration: none;
                font-size: 1.3rem;

                &::after {
                  content: "\f054";
                  font-family: "Font Awesome 7 Free";
                  font-weight: 900;
                  position: absolute;
                  right: 0;
                  top: 0;
                  height: 100%;
                  font-size: 18px;
                  font-weight: bold;
                  color: #222;
                  transition: all 300ms ease;
                  background: #E8EAEC;
                  display: flex;
                  align-items: center;
                  padding: 20px;
                }
              }
            }

            .navigation__item:nth-child(2) {
              background: $primary-yellow;
              border-left: 3px solid black;


              .go {
                &::after {
                  background-color: $sapphire;
                  color: white;

                  &.active {
                    background: $sapphire;
                  }
                }
              }
            }
          }
        }
      }

      .cards-container {
        flex: 2;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .download-card {
          padding: 2rem;
          background: $light-bg;
          transition: all 0.3s ease;
          text-align: center;

          &__caption {
            text-align: start;
            font-weight: bold;
            font-size: 1.5rem;
            margin-bottom: 3rem;
            height: 40px;
          }

          &:hover {
            background: $sapphire;

            .download-card__caption {
              color: $light-bg;
            }
          }

          &__link {
            padding: .5rem 1.5rem;
            background: $primary-yellow;
            color: $light-bg;
            font-size: 1.3rem;
            border-radius: 5px;
            display: inline-block;
            margin: 0 auto;
            text-decoration: none;
          }
        }
      }
    }
  }
}