@use '../pages/vars'as *;

.m-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.primary-color {
  color: $primary-yellow;
}

.honda {
  color: red;
}