@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .persons {
    padding: 4rem 3rem;

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .profiles-container {
        max-width: 100%;
        flex: 3.5;
      }

      .profiles {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .profile {
          height: 260px;
          width: auto;
          max-width: 100%;
          border: 7px solid white;
          border-radius: 5px;

          a {
            img {
              height: 100%;
              max-width: 100%;
            }
          }
        }

        .bio {
          border-radius: 5px;
          color: #777777;
          padding: 2rem;
          background: #f5f5f5;
          flex-grow: 1;

          .name {
            color: #008000;
            font-size: 2rem;
          }

          .designation {
            min-height: 90px;
            font-size: 1.3rem;
            font-weight: bold;
          }

          .contact {
            display: flex;
            gap: 2rem;
            align-items: center;
            font-size: 1.3rem;
            margin-bottom: 1rem;

            i {
              color: $primary-yellow;
            }
          }
        }
      }

      .navigation {
        height: fit-content;
        background-color: #f3f4f8;
        flex: 1;

        &-container {
          margin: 2rem 1rem;

          .navigation__list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 100%;
          }

          .navigation__item {
            border: 1px solid #e7e7e7;
            padding: 1rem 1rem;
            background-color: white;
            list-style-type: none;
            height: 50px;
            transition: all 0.3s ease;
            position: relative;
            border-left: 3px solid transparent;

            &:hover {
              border-left: 3px solid black;
              background-color: $primary-yellow;

              .go {
                color: white !important;

                &::after {

                  background-color: #125875;
                  color: white;
                }
              }
            }

            .go {
              font-weight: 500;
              color: black;
              text-decoration: none;
              font-size: 1.3rem;

              &::after {
                content: "\f054";
                font-family: "Font Awesome 7 Free";
                font-weight: 900;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                font-size: 18px;
                font-weight: bold;
                color: #222;
                transition: all 300ms ease;
                background: #E8EAEC;
                display: flex;
                align-items: center;
                padding: 20px;
              }
            }
          }
        }
      }

    }
  }
}