.profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: 2px solid #fff;
}

.online-badge {
  position: absolute;
  bottom: 2px;
  right: 3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #00b300; /* bright green */
  border: 2px solid #fff; /* white ring for clean look */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
