@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .container {
    padding: 6rem 4rem;

    @media (max-width: 576px) {
      padding: 3rem 0rem;
    }

    .newsletter__card {
      flex: 0 1 300px;
      max-width: 300px;
      background-color: #f0f7ff;
      border-radius: 5px;
      transition: background 0.3s ease, color 0.3s ease;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &:hover {
        background-color: #125875;
        color: white;

        img {
          transform: scale(1.1); // smaller zoom looks cleaner
        }
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
        transition: transform 0.4s ease-in-out; // smooth zoom
      }

      &-date {
        position: absolute;
        background-color: #ffc511;
        width: 87px;
        height: 67px;
        left: 30px;
        top: 150px;
        padding: 0.5rem 0;
        text-align: center;
        color: #fff;
        font-size: 1.3rem;
        font-family: 'Jost', sans-serif;
      }

      &-description {
        padding: 2rem;
        font-size: 1.8rem;
        font-weight: bold;

        p {
          margin-bottom: 3rem;
        }

        .btn {
          display: grid;
          place-items: center;

          button {
            padding: 1rem 2rem;
            border: none;
            background-color: $primary-yellow;
            border-radius: 5px;
            color: white;
          }
        }
      }
    }


  }
}