@use '../vars'as *;
@use '../../mixins/flex'as *;


.main {
  .featured {
    .container {
      gap: 4rem;
      align-items: center;
      justify-content: center;

      .chancellor__profile {
        text-align: center;

        &-pic {
          width: 300px;
          height: 300px;
          border-radius: 50%;
          overflow: hidden;
          background-color: red;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        &-description {
          margin-bottom: 1rem;
          font-size: 1.8rem;
          font-weight: bold;

          .name {
            margin-top: 2rem;
            color: #008000;
            font-size: 2rem;
          }
        }
      }

      .content {
        flex: 1 1 70%;
      }
    }
  }
}