@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .news {
    padding: 8rem 6rem;

    @media (max-width: 576px) {
      padding: 5rem 2rem;
    }

    .container {
      padding: 0 0;

      .news__card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        height: auto;

        .news__card {
          background-color: #f0f7ff;
          cursor: pointer;
          overflow: hidden;
          border-radius: 0px !important;
          transition: all 0.3s ease;
          padding: 2rem;

          &-title {
            min-height: 3rem;
            font-weight: bold;

          }


          &:hover {
            background-color: #125875;
            color: white;
          }

          &-description {
            padding: 2rem;
            font-size: 1.3rem;
            font-weight: bold;
          }
        }

      }
    }
  }
}