@use '../vars'as *;
@use '../../mixins/flex'as *;

.main {
  .apply {
    padding: 8rem 4rem;
    font-family: "jost";

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      text-align: start;

      .left,
      .right {
        flex: 1;

        .title {
          font-size: 3rem;
        }

        .Subtitle {
          font-size: 2rem;
        }

        .group-info {
          margin-bottom: 1rem;

          .caption {
            font-size: 1.4rem;
          }

          .info {
            color: $dark-text;
            display: flex;
            align-items: center;
            margin: 1rem 0;

            a {
              text-decoration: none;
              color: $dark-text;
              transition: color 0.3s ease;
              font-size: 1.2rem;

              i {
                margin-right: .3rem;
              }

              &:hover {
                color: $primary-yellow !important;
              }
            }

          }
        }
      }
    }

  }
}