@use 'vars'as *;
@use '../mixins/index'as *;

.main {
  .contact-us {
    .container {
      padding: 9rem 5rem;
      text-align: center;

      .mini-title {
        color: $primary-yellow;
        font-size: 1.5rem;
      }

      .main-heading {
        font-size: 3.5rem;
        margin-bottom: 5rem;
      }

      .contact-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
      }

      .contact-card {
        padding: 3rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 10px;
        background: $light-bg;

        &__icon {
          display: grid;
          place-items: center;
          height: 8rem;
          width: 8rem;
          margin: auto;
          border-radius: 50%;
          background: $light-heading;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          font-size: 3rem;
          margin-bottom: 3rem;
        }

        &__text {
          color: $light-text;
          font-size: 1.3rem;
        }

        &:hover {
          background: $light-warm;
        }
      }
    }
  }
}