@use './vars'as *;

.main {
  font-family: sans-serif;

  .news {
    padding: 8rem 6rem;

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;

      .news__card {
        background: $light-bg;
        padding: 2rem;
        text-align: start;
        border-radius: 6px;
        transition: all 0.3s ease;

        &:hover {
          background: $sapphire;

          .news__card-title a {
            color: $light-bg !important;
          }

          .event__card-description p {
            color: $light-bg;
          }
        }

        .news__card-title {
          font-size: 1.3rem;
          font-weight: 600;
          margin-bottom: 1rem;

          a {
            text-decoration: none;
            color: $dark-text;
            transition: color 0.3s ease;
          }
        }

        .event__card-description {
          p {
            color: $dark-text;
            font-size: 1.1rem;
            line-height: 1.6;
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}
